@{
    Layout = "/views/shared/_layout.cshtml";

}


    <!--================================
    =            Page Title            =
    =================================-->
    <section class="page-title">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <!-- Title text -->
                <h3>What is ASP.NET</h3>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">

                    <video width="500" height="350" controls>
                        <source src="~/videos/samplevideo.mp4" type="video/mp4" />

                    </video>

                    @* <img src="~/images/about/about.jpg"  class="img-fluid w-100 rounded" alt=""> *@
                </div>
                </div>

                <div class="col-lg-6 pt-5 pt-lg-0">
                    <div class="about-content">
                        <h3 class="font-weight-bold">Introduction</h3>
                        <p>
                        ASP.NET extends the <b>.NET platform </b> with tools and libraries specifically for building web apps.<br />

                        <strong><i>These are some things that ASP.NET adds to the .NET platform:</i> </strong> <br />

                        Base framework for processing web requests in C# or F#
                        Web-page templating syntax, known as Razor, for building dynamic web pages using C#
                        Libraries for common web patterns, such as Model View Controller (MVC)
                        Authentication system that includes libraries, a database, and template pages for handling logins, including multi-factor authentication and external authentication with Google, X, and more.
                        Editor extensions to provide syntax highlighting, code completion, and other functionality specifically for developing web pages

                </div>
            </div>

            </div>
            <span>
            
            </span>
            <div class="row">

            <div class="border" style="background-color:ivory; width: 50%; display: table-cell">
                        <h3> Back-end code </h3>
                        <p align="justify" color:"red">
                            <br />
                            When using ASP.NET your back-end code, such as business logic and data access, is written using C#, F#, or Visual Basic.

                            Because ASP.NET extends .NET, you can use the large ecosystem of packages and libraries available to all .NET developers. You can also author your own libraries that are shared between any applications written on the .NET platform.
                            ynamic pages using C#, HTML, CSS, and JavaScript
                        </p>
                    </div>
            <div class="border" style="background-color:ivory; width: 50%;display: table-cell">
                        <h3> Dynamic pages using C#, HTML, CSS, and JavaScript</h3>
                        <p align="justify">
                    <br />
                            Razor provides a syntax for creating dynamic web pages using HTML and C#. Your C# code is evaluated on the server and the resulting HTML content is sent to the user.

                            Code that executes client-side is written in JavaScript. ASP.NET integrates with JavaScript frameworks and includes pre-configured templates for single page app (SPA) frameworks like React and Angular.
                        </p>

                    </div>

                    </p>


                </div>


        </div>
    </section>
