@{
    Layout = "/views/shared/_layout.cshtml";

}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List of Suzuki motorcycles</h3>
                    <br />
                    <lable> Sports model</lable>
                    <hr />

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Engine </th>
                                <th>Type(s)</th>
                                <th>image</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Two Stroke Dual Purpose TM400 </td>
                                <td> 400 </td>
                                <td>Motocross</td>
                                <td>X</td>
                            </tr>

                            <tr>
                                <td>Two Stroke Dual Purpose M400 </td>
                                <td> 400 </td>
                                <td>Motocross</td>
                                <td>X</td>
                            </tr>
                             <tr>
                                <td>Two Stroke Dual Purpose TM250 </td>
                                <td> 250 </td>
                                <td>Motocross</td>
                                <td>X</td>
                            </tr>
                             <tr>
                                <td>Two Stroke Dual Purpose TM125 </td>
                                <td> 125 </td>
                                <td>Motocross</td>
                                <td>X</td>
                            </tr>
                             <tr>
                                <td>Two Stroke Dual Purpose TM75 </td>
                                <td> 75 </td>
                                <td>Motocross</td>
                                <td>X</td>
                            </tr>

                        </tbody>
                        
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>